__pycache__/
weights/
local_stuff/
/lib
*.cache
jupyter
volume_prediction_fip.egg-info/
local_stuff_experiments/
.venv
tools/
FIP_test/
1_Messung_2023
1_Output_2023
2_Messung_2024
2_Output_2024
check_empty_folders.py
src/log_files

assets/model-weights/FoMo4Wheat_base.pth
precomputed_new_setup.json